.footerBox {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

.footer {
  margin-top: 5%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 2%;
}
.footer span {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: whitesmoke;
}
.footer span:hover {
  color: #1c658c;
}
.icons {
  margin-left: 8%;
  margin-top: 1%;
}
.logo {
  margin-left: 2%;
  margin-top: 0%;
}
.logo img {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin: 2%;
}
.dropdown {
  width: 200px;
  color: #000;
  height: 50px;
  border-radius: 5px;
}
.klarna {
  margin-top: 5%;
  margin-left: 2%;
}
.klarna ul {
  text-align: left;
  text-decoration: none;
  list-style: none;
}
.klarna ul li {
  text-align: left;
  text-decoration: none;
  list-style: none;
  margin-top: 5%;
}
.klarna ul li:hover {
  color: #1c658c;
}
.customer {
  margin-top: 5%;
  margin-left: 7%;
}
.business {
  margin-left: 5%;
  margin-right: 5%;
}
.copyright {
  font-size: 12px;
  margin-left: 3%;
  gap: 5%;
  margin-right: 2%;
}
